<footer>
  <div class="f-info-socials">
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-square-facebook"></i>
  </div>
  <p>&copy;Airbnb private Limited</p>
  <div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
</footer>
